.header{
	color: blue;
	font-size: 21px;
	display: flex;
	justify-content: space-around;
	margin-bottom:100px;

}

.flex-conteiner{
	margin-left: 100px;
	color: grey;


}

.wave {
	background-color: blue;
	width: 100px;
	margin-top: 100px;
	color: white;
	font-size: 20px;

}

.flex{
	display: flex;
	justify-content: space-between;


}






